@import url("defaults.css");

button {
    border: none;
}

*[role="button"]:not([disabled]), *[role="menuitem"]:not([disabled]), button:not([disabled]) {
    cursor: pointer;
    user-select: none;
}

*[flex] {
    display: flex;
}

*[icon] {
    background: url("/img/icon-spritesheet.svg") no-repeat;
    aspect-ratio: 1;
}